<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <h3 id="headerInfo"></h3>
    <div></div>
    <div id="results">
        <div>
            <div id="title">
                <div id="headerText">
                    <b>Выберете друзей:</b>
                </div>
            </div>
            <div id="leftBar">
                <table>
                    <tbody id="insertleftTable">
                    </tbody>
                </table>
             </div>
            <div id="rightBar">
                <table>
                    <tbody id="insertRightTable">
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
</div>
 <script src="src/index.js"></script> 
</body>
</html>
