
        {{#each list}}
            <tr id="tableString">
                <td>
                    <img src="{{photo_100}}" id="avatar"/>
                </td>
                <td>{{first_name}} {{last_name}}</td>
                <td>
                    <button id="button">{{symbol}}</button>
                <td>
             </tr>
        {{/each}}
