<div id="map">
<div id="form" >
    <div id='formHead'>
        <div id='address' ></div>
        <button id ='close'>X</button>
    </div>
    <div id='formContent'></div>
    <div id='formImput'>
        <div id='inputTitle'>your review</div>
        <input type='text' placeholder="enter your name" id='inputName'>
        <input type='text' placeholder="enter location" id='inputPlace'>
        <textarea name="inputComment" id="inputComment" placeholder="enter your comments"></textarea>
    </div>
    <div id='formFooter'>
         <button id='send'>Add</button>
    </div>
</div>
</div>
