<div class="container">
    <div id="results">
            <div id="title">
                <div id="headerText">
                    <b>Фильтр друзей:</b>
                </div>
            </div>
            <div class="inputs">
                <input type="text" size="40" placeholder="Начни вводить имя друга" id="leftInput">
                <input type="text" size="40" placeholder="Начни вводить имя друга" id="RightInput">
            </div>
            <div class="barContainer">
                
                <p class="youFriends">Ваши друзья</p>
                <div id="leftBar">
                    <table cellspacing="0">
                        <tbody id="insertleftTable">
                        </tbody>
                    </table>
                </div>
             </div>
             <div class="barContainer">
                <p class="youFriends">Друзья в списке</p>
                <div id="rightBar">
                    <table cellspacing="0">
                        <tbody id="insertRightTable">
                        </tbody>
                    </table>
                </div>
            </div>
    </div>  
    <div id="footer">
        <button id="save">Сохранить</button>
    </div>
</div>